<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
    <img src="/src/favicon.ico" alt="Logo">
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a routerLink="/dashboard" class="text-gray-400 no-underline mr-5 hover:text-white" routerLinkActive="active">Dashboard</a>
      <a routerLink="/service" class="text-gray-400 no-underline mr-5 hover:text-white" routerLinkActive="active" routerLinkActive="active">Services</a>
      <a routerLink="/contact" class="text-gray-400 no-underline mr-5 hover:text-white" routerLinkActive="active">Contact</a>
      <a routerLink="/press" class="text-gray-400 no-underline hover:text-white" routerLinkActive="active">Press</a>
    </nav>
    <div class="lg:w-2/5 md:w-1/4 md:pl-20 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button class="inline-flex items-center bg-green-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0" (click)="logoff()">Log Out</button>
    </div>
  </div>
</header>


<div class="h-10 bg-gray-800">
  <h1 class="text-center text-gray-400">Comming Soon..</h1>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>