
<div class="parent">
    <div class="container">
        <div class="login-box">
            <mat-spinner></mat-spinner>
            <h2>Login</h2>
            <mat-progress-spinner></mat-progress-spinner>
            <form action="#">
                <div class="input-box">
                    <input type="email"  name="EmailId" [(ngModel)]="loginObj.EmailId" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password"  name="Password" [(ngModel)]="loginObj.Password" required>
                    <label>Password</label>
                </div>
                
                <button type="button" class="btn"  (click)="onLogin()">Login</button>
                 
                 <button type="button" class="btn"  >Sign Up</button>
            </form>
        </div>
        
    </div>
</div>